<% include include/header.ejs %>
<div class="container">
    <div class="row text-center">
        <h1><%=title%></h1>
        <button class="btn btn-primary">Hello world!</button>
    </div>
</div>
<% include include/footer.ejs %>


